.fan_gg_logo img{
width: 800px!important;
height: 800px!important;
}
.fan_gg_logo{
    right: 1000px!important;
}
.fan_people{
    width: 300px!important;
    height: 500px!important;
}
.section4_content>div>i{
font-size: 50px!important;
}